.already-account {
  text-align: center;
  padding: 15px 0;
  p {
    font-size: 17px;
    font-family: Roboto, serif;
    font-weight: 400;
    letter-spacing: 0;
    color: #FFFFFF;
    margin-bottom: 0;
  }
  a {
    text-decoration: underline;
    font-size: 20px;
    font-family: Roboto, serif;
    font-weight: 400;
    letter-spacing: 0;
    color: #FFFFFF;
  }
}
.modal-dialog {
  margin: 10.75rem 15px;;
}
.theme-modal{
  background: url("../assets/images/modal-bg.png") no-repeat center left;
  background-size: cover;
  border: 0;
  border-radius: 10px ;
  .modal-header {
    font-weight: 300;
    .close {
      padding: 5px 0 5px;
      color: #fff;
    }
  }
  .modal-body {
    padding: 0;
    border-radius: 10px ;
    .row {
      div:nth-child(2) {
        border-radius: 0 0 10px 10px;
      }
    }
    .close {
      padding: 5px 10px 5px;
      color: #fff;
      font-weight: 300;
      position: absolute;
      right: 0;
      top: 0;
    }
    .modal-title {
      font-size: 26px;
      font-family: Roboto, serif;
      font-weight: 500;
      margin-bottom: 15px;
      letter-spacing: 0;
      color: #FFFFFC;
    }
    .title-description{
      font-size: 14px;
      font-family: Roboto, serif;
      font-weight: 400;
      margin-bottom: 25px;
      letter-spacing: 0;
      color: #FFFFFF;
    }
  }
  &.sign-up-modal {
    form {
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
    }
  }
}


@media (min-width: 576px) {
  .modal-dialog {
    max-width: 576px;
    margin: 10.75rem auto;
  }
  .theme-modal{
    .modal-body {
      .row {
        div:nth-child(2) {
          border-radius: 0 10px 10px 0;
        }
      }
      .modal-title {
        font-size: 32px;
      }
      .title-description{
        font-size: 14px;
      }
    }
  }

}

@media (min-width: 768px) {
  .modal-dialog {
    max-width: 720px;
    margin: 10.75rem auto;
  }
  .theme-modal{
    .modal-body {
      .row {
        div:nth-child(2) {
          border-radius: 0 10px 10px 0;
        }
      }
      .modal-title {
        font-size: 36px;
      }
      .title-description{
        font-size: 17px;
      }
    }
  }
}






